@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-x: hidden;
    z-index: -1;
    font-family: 'MuseoModerno', cursive;
}

// globals

button {
    outline: none;
}

.main-header {
    margin: 3rem 0;
    min-height: 20vh;
    height: 100%;
}

.image-gallery {
    min-height: 100vh;
    height: 100%;

    form {
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        button {
            margin: .5rem 0;
        }
    }
}

figure {

    max-height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    cursor: pointer;

    figcaption {
        max-width: 960px;
        margin: 0 auto;
    }
}

.popup {
    margin-top: 3rem;
    margin-bottom: 2rem;
    background: #222;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 99;
    
    .content {
        color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
        max-width: 960px;
        margin: 0 auto;
        padding: 2rem;
        z-index: 99;

        button {
            margin-bottom: 2rem;
        }
    }
    
}

.photo-of-the-day-container {
    min-height: 100vh;
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    .potd {
        position: relative;
        
        &:hover {
            figcaption {
                transition: .5s all;
                filter: opacity(1);
            }
        }
        
        img {
            height: 100%;
            width: auto;
        }

        figcaption {
            position: absolute;
            color: #222;
            filter: opacity(0);
        }
    }
}

.space-news {
    min-height: 100vh;
    height: 100%;

    .articles-list {
        list-style: none;

        li {
            img {
                height: 100px;
                width: 100px;
                float: left;
                margin-right: 1rem;
                object-fit: cover;
            }
        }
    }
}